.box {
    width: 260px;
}

body {
    background-color: rgba(40, 40, 40, 1);
}

h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
    height: 0rem;
}

h1, div, h2, button, label {
    font-family: "Helvetica";
    color: rgba(230, 230, 230);
}

#flexer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.coordinates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-coordinates #end-coordinates {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#go-button {
    font-family: "Helvetica";
    font-weight: 800;
    font-size: 40px;

    border-radius: 20px;
    border-width: 0;

    box-shadow: 4px 4px 0px;

    cursor: pointer;
    width: 8rem;
    height: 4rem;
    background-color: rgba(100, 200, 100);
    
    color: rgb(51, 116, 51)
}

input, select, option {
    background-color: rgb(235, 235, 235);
    font-family: 'Courier New', Courier, monospace;
    border-style: double;
    border-radius: 4px;
    border-color: rgb(151, 151, 151);
    text-align: center;
}

#button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tips {
    text-align: center;
}

#master-div {
    gap: 4px;
}

.hidden {
    display:none
}

#loading-text {
    font-style: italic;
    font-weight: 800;
    opacity: 50%;
    height: 8rem;
}

#results-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    font-weight: bold;
}